.partner{
margin-top: 90px;
}
.partner__title-partner{
    margin-bottom: 40px;
}
.title-partner__partner-main-text{
    text-align: center;
    text-transform: uppercase;
}
.partner-main-text__text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}
.partner__main-block-partner{
    /* display: flex; */

}
.main-block-partnerr__image-partner-one{
display: flex;
justify-content: space-between;
}
.main-block-partner__image-partner-two{
display: flex;
justify-content: space-between;
}
.partner__image-partner-one{
    
}
.image-partner-one__block-partner{
    width: 177px;
    height: 177px;
    border: 2px solid rgba(73, 104, 129, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    
}
.block-partner__logo{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
 .partner__image-partner-two{
     
}
.block-partner__logo-e{
    
}

/*
выравнивание изображение по центру туториал
 
http://ktvd.ru/vertical-align-for-picture/ */

.image-partner-two__block-partner{
    width: 177px;
    height: 177px;
    border: 2px solid rgba(73, 104, 129, 0.1);
    border-radius: 10px;
    position: relative;
}


