.legal{
    display: flex;
    margin-top: 90px;
}


.legal__title{

}
.title__legal-main-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    /* or 122% */
    
    text-align: center;
    text-transform: uppercase;
}
.legal-main-text__text{

}
.title__legal-second-text{
    margin-left: 320px;
    margin-top: 10px;
    display: flex;
}
.legal-second-text__sale{
    width: 102px;
    height: 41px;
    background-color: yellow;
    border-radius: 5px;
    margin-right: 7px;

}
.sale__legal-second-item{
    margin: 0px 0 0 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    /* or 159% */


    color: #17181C; 
}
.legal-second-text__text{
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 35px;
/* or 159% */


color: #17181C;
}


.legal__box-item{
    display: flex;
    margin-top: 60px;
}
.box-item__img{
    position: relative;
    right: 314px;
    width: 830px;
    height: 530px;
    margin-right: -301px;
}
.img__legal-image{
    width: 830px;
    height: 530px;
 
}

.box-item__request{
  
}
.request__list-item{
    margin-top: 50px;
    margin-left: 60px;
}
.item-legal__line{
    background: #171717;
    border-radius: 5px;
    width: 28px;
    height: 5px;
    transform: rotate(-90deg);
    margin-top: 21px;
}
.list-item__item-legal{
    display: flex;
    
    margin: 0px 0 20px 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 45px;

    color: #17181C;
}

.request__legal-number{
    margin-top: 45px;
    margin-left: 118px;

}
.legal-number__form-legal{
    
}
.form-legal__title-form-legel{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    
    color: #17181C;
    margin-bottom: 16px;
}
.form-legal__textarea-form-legel{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #17181C;
    outline: none;
    border: none;
    margin-bottom: 18px;
    

}
.form-legal__button-form-legel{
    outline: none;
    border: none;
    width: 250px;
    height: 68px;
    background-color: yellow;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #17181C;
    margin-left: 30px;
}