.header{
    background-image: url(../../image/header_bg_img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 849px;
    
}
.header__box{
    /* display: flex; */
    
}
.box__menu{
    display: flex;
   
}
.header__logo{
    margin-top: 16px;
}
.logo__img-header{

}
.header__menubox{
    margin-top: 59px;
    margin-left: 45px;
}
.menubox__menu{
    display: flex;
    list-style: none;
}
.menu__item{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    margin: 0 15px;
    
    color: rgba(255, 255, 255, 0.8);
}
.header__contact{
    margin-left: 60px;
    margin-top: 57px;
    margin-right: 15px;
}
.contact__number{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    width: 178px;
    /* align-items: center; */
    
    color: #FFFFFF;
}
.header__button{
    width: 214px;
    height: 55px;
    margin: 41px 0 0 0;
    
}
.button__header-item{
    width: 214px;
    height: 55px;
    outline: #5BBFC8;
    
    border: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    cursor:pointer;
    background-color: #5BBFC8;
}


.box__welcome-text-header{
    margin-top: 40px;
}
.welcome-text-header__title-header{
    margin-bottom: 19px;
}
.title-header__item{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    /* or 125% */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    
}
.welcome-text-header__text-header{
    width: 540px;
    height: 70px;
}
.text-header__item{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    
    color: #FFFFFF;
}
.welcome-text-header__button-order{
    margin-top: 35px;
}
.button-order__item{
    display: flex;
    width: 250px;
    height: 66px;
    background-color: #FFD200;
    border: 0;
    border-radius: 5px;
   
}
.item__button-order-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
/* identical to box height */
    margin: 22px 4px 22px 19px;

    color: #000000;
}
.item__button-order-img{
    width: 33px;
    height: 33px;

    margin: 17px 0px 16px 0px;
}


.box__benefist{
    display: flex;
    margin-top: 85px;
}

/* размытие */
.benefist__description{
    background-image: url(../../image/header_benefist_description_img.png);
    width: 412px;
    height: 288px;
    background-repeat: no-repeat;
    opacity: 0.9;
    margin: 0 10px 0 0;
}
.description__title-item{
    color:#000000;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    width: 344px;
    margin: 66px 0 23px 44px;
}
.description__line{
    width: 88px;
    height: 5.36px;
    background-color: #000000;
    margin-left: 42px;
}
.description__text-item{
    color:#000000;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    width: 323px;
    margin: 18px 0 0px 44px;
}

.benefist__price-car{
    width: 204px;
    height: 287px;
    background-color: yellow;
    border-radius: 10%;
    margin: 0 10px 0 10px;
}
.price-car__price{
    background-color:#DEB905 ;
    width: 78px;
    height: 25px;
    border-radius: 10%;
    margin: 16px 0 0 17px;
}
.price__price-car-item{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #534407;
    
}
.price-car__text{

}
.text__item-price-car{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
    color: black;
    margin: 10px 0 0 17px;
}
.price-car__image{
    margin-top: 87px;
    margin-left: 18px;
}
.image__price-car{

}


.benefist__price-jeep{
    width: 204px;
    height: 287px;
    border-radius: 10%;
    background-color:#4B5257 ;
    margin: 0 10px 0 10px;
}
.price-jeep__price{
    background-color:#B0B0B0 ;
    width: 78px;
    height: 25px;
    border-radius: 10%;
    margin: 16px 0 0 17px;
}
.price__price-jeep-item{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.price-jeep__text{

}
.text__item-price-jeep{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 10px 0 0 17px;
}
.price-jeep__image{
    margin-top: 87px;
    margin-left: 18px;
}
.image__price-jeep{

}


.benefist__price-commercial-car{
    width: 204px;
    height: 287px;
    border-radius: 10%;
    background-color:#5BBFC8 ;
    margin: 0 10px 0 10px;
}
.price-commercial-car__price{
    background-color:#49A1A9 ;
    width: 78px;
    height: 25px;
    border-radius: 10%;
    margin: 16px 0 0 17px;
}
.price__price-commercial-car-item{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E4D54;
}
.price-commercial-car__text{

}
.text__item-price-commercial-car{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
    margin: 10px 0 0 17px;
}
.price-commercial-car__image{
    margin-top: 66px;
    margin-left: 18px;
}
.image__price-commercial-car{

}